<!-- numberonly custom directive demo -->
<div style="padding: 20px;">
    Enter the number only: <input type="text" numberonly />
</div>

<hr>

<!-- change the colour on hovering -->
<div highlightDirective style="display: block; height: 200px; width: 300px;border: 2px solid; border-radius: 5px;margin: 20px;">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Magni mollitia dolores debitis incidunt, provident quam praesentium
    eos nam fuga harum vero inventore aliquam sit, porro dolor facilis laboriosam,
    doloremque omnis reiciendis repellat assumenda blanditiis?
</div>

<hr>

