<p>form1 works!</p>
<form #myForm="ngForm" (submit)="logForm(myForm.value)" class="jumbotron text-center">
    <label>Firstname:</label>
    <input type="text" name="firstname" ngModel>
    <br><br>
    <label>Lastname:</label>
    <input type="text" name="lastname" ngModel>
    <br><br>
    <div ngModelGroup='address'>
        <label>Street:</label>
        <input type="text" name="street" ngModel>
        <br><br>
        <label>pin:</label>
        <input type="text" name="zip" ngModel>
        <br><br>
        <label>City:</label>
        <input type="text" name="city" ngModel>
        <br><br>
    </div>
        
    <button type="submit">Submit</button> &nbsp;
    <button type="reset">reset</button>
    
    <!-- OR
    <input type="submit" value='Submit'> &nbsp
    <input type="reset" value='Clear'> 
    -->
    
  </form>
  
  <button (click)="clearMyform(myForm)">Clear</button>
  <!--myForm object contains all the form data  -->
  <h2> {{ myForm.value | json }} </h2>
  