<app-header></app-header>
<app-navbar></app-navbar>
<!-- <app-corousel></app-corousel> -->
<!-- <app-demo></app-demo> -->
<!-- <app-center></app-center> -->
<!-- <app-body></app-body> -->
<!-- <app-employee-list></app-employee-list> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-footer></app-footer> -->
<!-- <app-parent></app-parent> -->
<!-- <app-emp></app-emp> -->
<!-- <app-user></app-user> -->
<!-- <app-comment></app-comment> -->
<!-- <app-observable1></app-observable1> -->
<!-- <app-observable2></app-observable2> -->
<!-- <app-observable3></app-observable3> -->
<!-- <app-form1></app-form1> -->
<!-- <app-home></app-home> -->